doctype html
html
    head
        title Aplikacja logowania Google
        link(rel='stylesheet', href='/static/style.css')
    body
      div.container
        h1 Aplikacja logowania do Google
        p Aplikacja Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        a.button(href='/auth/google') Logowanie